<!doctype html>
   <html lang="en">
   <head>
       <title>My Flask App</title>
   </head>
   <body>
    {% include 'header.html'%}
       <h1>Welcome to My Flask App</h1>
       <p>This is a simple Flask application.</p>
       <ul>
           <li>Flask</li>
           <li>HTML</li>
           <li>Templates</li>
       </ul>
   </body>
   </html>
   <h1>"About Us"</h1>
   <p>in this page you will see the result of learnig to create a reusable templates using Jinja for dynamic content rending</p>
   {% include 'footer.hmtl'%}